@mixin mat-tree-picker-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  mat-tree-picker-node-list {
    .mat-tree-picker-node-list {
      background: mat-color($background, "card");

      .mat-menu-content {
        color: mat-color($foreground, "text");
      }
    }
  }

  mat-tree-picker-node {
    &.hover:not([disabled]) {
      background: mat-color($background, "hover");
    }
  }

  mat-tree-picker-node {
    mat-checkbox {
      label {
        display: inline-block !important;
        width: 100%;
        height: 100%;
      }
    }
  }
}
